---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import MaletinIcon from "../../public/icons/MaletinIcon.astro";
import LinkedinIcon from "../../public/icons/LinkedinIcon.astro";
import MailIcon from "../../public/icons/MailIcon.astro";
import CodeIcon from "../../public/icons/CodeIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
import UserIcon from "../../public/icons/UserIcon.astro";
---

<Layout title="Portfolio Luis Zamora - Desarrollador y Programador Front End">
  <main class="px-4 items-start">
    <SectionContainer class="py-40">
      <div class="flex gap-4 mb-4 items-center">
        <img
          src="https://raw.githubusercontent.com/lezgec/porfolio-luiszamora.dev/30cc16bf893438f55d0b9e1c88472805fb85d5fc/public/images/lezgec.jpg"
          alt="Luis Zamora Logo"
          class="rounded-full size-20"
        />
        <Badge> Disponible para Trabajar</Badge>
      </div>
      <h1
        class="text-4xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, Soy Lezgec <a
          href="https://www.linkedin.com/in/lezg/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-pretty max-w-[700px]">
        +3 a침os de experiencia adquirida en la universidad y en el campo laboral. <span
          class="font-semibold dark:text-red-200 text-red-500"
          >De Guayaquil, Ecuador 游쀯릖.</span
        ><span class="font-semibold text-blue-700 dark:text-yellow-200">
          Desarrollador</span
        > actualmente cursando una <span
          class="font-semibold text-blue-700 dark:text-yellow-200"
        >
          Ingenier칤a en Software
        </span>y con conocimientos certificados en<span
          class="font-semibold text-blue-700 dark:text-yellow-200"
        >
          Ciberseguridad.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 text-wrap">
        <SocialPill href="mailto:contact@luiszamora.dev">
          <MailIcon class="size-6 md:size-8" />
          Cont치ctame
        </SocialPill>

        <SocialPill href="https://www.linkedin.com/in/lezg/">
          <LinkedinIcon class="size-6 md:size-8" />
          LinkedIn
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia" class="py-12">
      <h2 class="flex items-center text-3xl font-semibold mb-6">
        <MaletinIcon class="size-7 lg:size-10 mr-2" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="py-12">
      <h2 class="flex items-center text-3xl font-semibold mb-6">
        <CodeIcon class="size-7 lg:size-10 mr-2" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="py-12">
      <h2 class="flex items-center text-3xl font-semibold mb-6">
        <UserIcon class="size-7 lg:size-10 mr-2" />
        Sobre Mi
      </h2>
      <span class="flex flex-col sm:flex-col-reverse xs:flex-col-reverse items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
        <span>
          <p class="text-lg text-justify">
            Me llamo Luis Zamora, soy un estudiante de Ingenier칤a de Software con una pasi칩n por crear
            experiencias digitales fluidas. Durante los 칰ltimos tres a침os, he
            perfeccionado mis habilidades en el desarrollo front-end,
            especializ치ndome en tecnolog칤as como <span class="text-blue-300 dark:text-yellow-200"> Vue.js, Nuxt.js, JavaScript y
              TypeScript.</span>
          </p>
          <p class="text-lg text-justify">
            Actualmente, tengo conocimientos en <span >ciberseguridad</span> y cuento con
            certificaciones en el 치rea.
          </p>
          <p class="text-lg text-justify">
            Soy el tipo de persona que no se queda con el: <span class="text-blue-300 dark:text-yellow-200"> Que pasa si...?</span>
          </p>
        </span>
        <img
          width="200"
          height="200"
          src="https://raw.githubusercontent.com/lezgec/porfolio-luiszamora.dev/main/public/images/sobre_mi.jpg"
          alt="Luis Zamora"
          class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-blue-700 dark:bg-yellow-500 ring-1 ring-black/70 dark:ring-white/20"
        />
      </span>
    </SectionContainer>

    <Footer />
  </main>
</Layout>
