
<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_358deg_at_50%_50%,_#FF0707FF_0%,_#0343FFFF_53%,_#FF0000FF_100%);] dark:bg-[conic-gradient(from_0deg_at_50%_50%,_#FFFD2EFF_0%,_#FF6F00FF_99%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm font-semibold bg-white dark:bg-black rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
