    <nav class="flex bg-white/80 dark:bg-white/30 shadow-lg px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
      <a class="relative block px-2 py-2 transition hover:text-blue-400 dark:hover:text-yellow-400" aria-label="top" href="#top">Inicio</a>
      <a class="relative block px-2 py-2 transition hover:text-blue-400 dark:hover:text-yellow-400" aria-label="experiencia" href="/#experiencia">Video Explicativo</a>
      <a class="relative block px-2 py-2 transition hover:text-blue-400 dark:hover:text-yellow-400" aria-label="phoneSetup" href="blog/phoneSetup">Seguridad en Celulares</a>
      <a class="relative block px-2 py-2 transition hover:text-blue-400 dark:hover:text-yellow-400" aria-label="sobre-mi" href="/#sobre-mi">Seguridad en Pc</a>
      <a class="relative block px-2 py-2 transition hover:text-blue-400 dark:hover:text-yellow-400" aria-label="contacto" href="mailto:contactme@luiszamora.dev">Contacto</a>
    </nav>

  