<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
  <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
    <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 text-white" aria-label="top" href="#top">Inicio</a>
    <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 text-white" aria-label="experiencia" href="/#experiencia">Experiencia</a>
    <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 text-white" aria-label="proyectos" href="/#proyectos">Proyectos</a>
    <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 text-white" aria-label="sobre-mi" href="/#sobre-mi">Sobre Mi</a>
    <a class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400 text-white" aria-label="contacto" href="mailto:contact@luiszamora.dev">Contacto</a>
  </nav>
</header>
